input.header-search {
    line-height: 34px;
    min-width: 600px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px lightgrey;
    font-size: 18px;
}

.header-container-grid {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    grid-template-columns: 50px auto 50px 100px;
}

.header-group {
    display: grid;
    grid-template-columns: 50px 50px 100px;
    justify-items: center;
}
.header-group i {
    place-self: center;
}

.header-icon-search::before {
    margin-left: -595px;
    margin-bottom: -5px;
    font-size: 16px;
    color: grey;
}

.header-settings-icon {
    margin-top: 10px;
    margin-left: 50px;
}

.header-username {
    font-size: 24px;
    color: white;
    margin-left: 12px;
    margin-top: -45px;
}

.header-user-circle {
    margin-top: 5px;
}
