.widgets {
    padding: 17px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #f6f6f6;
  
    & > * {
      margin: 3px;
    }
  }

  .window-container {
      border-radius: 10px;
      border: solid 1px grey;
      background: white;
      height: 610px;
  }

  .administration-tab-header {
      padding: 5px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }

  .window-actions {
      place-self: end;
      padding: 25px;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(2,1fr);
  }

  .breadcrumps {
      display: grid;
      grid-template-columns: 110px auto;
  }

  #more-than-sign {
      font-size: 32px;
      color: lightgrey;
      // margin-top: 10px;
  }

  .template-editor {
      font-weight: 600;
      margin-top: 22px;
  }

  .breadcrumps-images {
      margin-top: 8px;
  }

  .fas.fa-tv {
      font-size: 28px;
      color: grey;
  }

  .panel-container {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr 2fr;
  }

  .template-list {
    background: white;
    height: 400px;
  }

  .template-list-header {
      display: grid;
      padding: 5px;
      grid-template-columns: repeat(2,1fr);
      border: solid 1px lightgrey;
  }

  .plus-create-template {
      padding-right: 5px;
      font-size: 14px;
  }

  .new-template-button {
      border-radius: 3px;
      width: 150px;
      place-self: end;
  }