.widgets {
    padding: 17px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: white;
  
    & > * {
      margin: 3px;
    }
  }
  
  html {
    background: white;
    padding: 10px;
  }

  .cxb-tab.cxm-classic.cxs-active {
      background: #a4dbf3;
      font-weight: 600;
      border-top: solid 2px #26aae2;
      border-bottom: none;
      border-left: solid 1px #26aae2;
      border-right: solid 1px #26aae2;
      z-index: 100;
  }
