.fas.fa-save {
    padding-right: 5px;
}

.save-btn {
    border-radius: 3px;
}

.show-as-radio, .prefix-sufix-radio, .suffix-radio {
    margin-left: -50px;
}

.navbar-settings {
    margin-top: 10px;
}

.cxb-subtab-headers {
    padding: 5px;
    color: black;
}

.cxb-subtab-headers:hover {
    text-decoration: none;
}

.cxs-active {
    font-weight: 700;
    color: black;
}